.header_title {
    background-image: url(img/headerb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2%;
}

.pagetitle {
    color: rgb(51, 204, 0);
    font-size: 40px;
    font-weight: bold;
    margin-left: 55%;
}

.pagedescription {
    margin-left: 60%;
    color: rgb(0, 102, 0);
}

#header {
    text-align: center;
    /* margin: 1%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

a {
    margin: 1%;
    color: rgb(0, 204, 0) !important;
}

.haut {
    display: flex;
    flex-wrap: nowrap;
    margin: 1%;
}

#rightarea {
    order: 2;
    margin-right: 1%;
}

h2 {
    color: #33cc00;
}

.leftnav {
    order: 1;
    margin-right: 1%;
    border-right: 1px solid black;
    padding-right: 1%;
    width: 50%;
}

.leftnav a {
    text-decoration: none !important;
}

.leftnav a:hover {
    text-decoration: underline !important;
}

.leftnav p {
    margin-bottom: 10%;
}

.news_date {
    color: rgb(129, 129, 129);
}

#boxR {
    order: 3;
}

.loader {
    position: fixed;
    width: 164px;
    height: 164px;
}

.loader::before,
.loader::after {
    border-radius: 5px;
    content: '';
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #000000;
    left: 50%;
    top: 50%;
    animation: rotate 5s ease-in infinite;
}

.loader::after {
    width: 20px;
    height: 20px;
    background-color: #FF3D00;
    animation: rotate 5s ease-in infinite, moveY 5s ease-in infinite;
}

@keyframes moveY {

    0%,
    100% {
        top: 10%
    }

    45%,
    55% {
        top: 59%
    }

    60% {
        top: 40%
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -100%) rotate(0deg) scale(1, 1)
    }

    25% {
        transform: translate(-50%, 0%) rotate(180deg) scale(1, 1)
    }

    45%,
    55% {
        transform: translate(-50%, 100%) rotate(180deg) scale(3, 0.5)
    }

    60% {
        transform: translate(-50%, 100%) rotate(180deg) scale(1, 1)
    }

    75% {
        transform: translate(-50%, 0%) rotate(270deg) scale(1, 1)
    }

    100% {
        transform: translate(-50%, -100%) rotate(360deg) scale(1, 1)
    }
}