body {
    font-family: 'Arial', sans-serif;
    background-color: #F9F7F7;
    padding: 2%;
}

.container {
    background-color: #DBE2EF;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.quest {
    display: inline-block;
}

.quest p {
    font-size: 18px;
    color: #112D4E;
}

input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
    font-size: 16px;
    color: #112D4E;
}

input[type="radio"]+label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #3F72AF;
    margin-right: 8px;
    position: relative;
    top: 3px;
}

input[type="radio"]:checked+label::before {
    background-color: #3F72AF;
}

button {
    background-color: #3F72AF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #112D4E;
}

textarea {
    width: 90%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #3F72AF;
    padding: 10px;
    font-size: 16px;
    resize: none;
}
