body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 2%;
}

html {
    scroll-behavior: smooth;
}

.main {
    border: 3px solid black;
    padding: 0.5%;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.9);
}

h1 {
    color: rgb(0, 102, 51);
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 0;
    width: 80%;
}

li {
    background-color: #71C9CE;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border: 1.5px solid black;
    font-size: 14px;
}

ul a {
    color: black;
    text-decoration: none;
}

a span {
    display: none;
    transition: 0.5s;
}

a:hover span {
    display: block !important;
    top: 29%;
    position: absolute;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1%;
    transition: 0.5s;
}

.content {
    padding: 1%;
    border: 2px dashed #A6E3E9;
    background-color: #E3FDFD;
    border-radius: 0 0 10px 10px;
    width: 100%;
}

li:nth-last-child(5),
li:nth-last-child(6) {
    background-color: #e3fdfd;
}

.separer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightbox1 {
    border: 1px solid black;
    margin: 3%;
    padding: 5%;
    border-radius: 10px;
}

img {
    width: 80%;
    height: 80%;
}

/* Le deuxième truc */

.container {
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 3%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.9);
}

.header {
    background-color: #edfdcc;
    margin: 0;
    border-radius: 10px;
}

.container h1 {
    margin: 0;
    padding: 10px;
    color: #97ca67;
}

.container p {
    text-indent: 10%;
    padding-bottom: 4%;
    margin: 0;
}

#navbar a {
    margin-right: 5%;
    color: white;
    text-decoration: none;
}

#navbar {
    padding-left: 3%;
    background-color: #78b51b;
    padding: 2%;
}

#content {
    margin: 5%;
    width: 100%;
}

.separ h2 {
    background-color: #e4f6b8;
    padding: 2%;
    font-style: italic;
}

.container a {
    color: #6aff00;
}

.separ p {
    text-indent: 0;
}

.separ {
    display: flex;
    align-items: center;
}

.rightbox {
    border: 1px solid black;
    margin: 0 2% 2% 0;
    padding: 5%;
    border-radius: 10px;
}

.footer {
    border-top: 1px solid gray;
    padding: 5%;
}

@media only screen and (max-width: 768px) {

    .separ,
    .separer {
        display: flex;
        flex-direction: column;
        padding: 5%;
        padding-top: 0;
    }

    .content_droit {
        display: flex;
    }

    ul {
        width: 90%;
    }

    a:hover span {
        top: 25%;
        position: absolute;
    }
}


::-webkit-scrollbar {
    width: 10px;
    /* Largeur de la scrollbar */
    background-color: rgb(128, 128, 128);
    /* Couleur de fond de la scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: white;
    /* Couleur de la scrollbar */
    border-radius: 5px;
    /* Bord arrondi de la scrollbar */
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(168, 168, 168);
}